<br><br>

<footer class="text-light">
    <div class="container">
        <p> © LivePoll</p>
        <p>New to LivePoll? <a href="../../">Visit the
            homepage</a>
            Developed by : <a href="https://www.linkedin.com/in/avinashkumar0786/">Avinash Kumar</a>
            <a href="https://www.linkedin.com/in/tarun-rana-a52428192//">Tarun Rana</a>
            </p>
    </div>
</footer>