<script src="/scripts/dashboard.js"></script>

        <div class="container-fluid bg-dark text-white d-flex flex-column p-5">
            <div class="contianer p-5 d-flex flex-column align-items-center
                justify-content-center">
                <h1 class="display-3 p-3">Welcome to Live Polls</h1>
                <figure class="text-center">
                    <blockquote class="blockquote">
                        <p>“Somewhere inside of all of us is the power to change
                            the world.”</p>
                    </blockquote>
                    <figcaption class="blockquote-footer">
                        By <cite title="Source Title">Roald Dahl</cite>
                    </figcaption>
                </figure>

                <!-- <button type="button" class="btn bg-light text-Dark p-3 btn-lg">  Create Poll</button> -->
            </div>
            <div class="container">
                <div class="row justify-content-end mx-auto">
                    <div class="col">

                    </div>

                    <div class="col">
                        <a type="button" style="margin-left: 120px;"
                            class="btn btn-large
                            btn-outline-success
                            p-3" href="/genPoll">

                            Create Poll


                            <svg xmlns="http://www.w3.org/2000/svg" width="20"
                                height="20" fill="currentColor" class="bi
                                bi-arrow-right-circle" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14
                                    0A7 7 0 0
                                    0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16
                                    0zM4.5
                                    7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0
                                    0 0
                                    .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1
                                    0-.708.708L10.293 7.5H4.5z"></path>
                            </svg>
                        </a>
                    </div>
                    <div class="col">
                        <img src="/sign.webp" class="rounded
                            float-right"
                            height="400px" width="300px" alt="">
                    </div>
                </div>
            </div>



            <br><br>

            {{>bottom}}
        </div>

