<script src="./scripts/dashboard.js"></script>
<body>
    <style>
        img:hover {
            animation: shake 1s;
            animation-iteration-count: 1;
        }

        @keyframes shake {
            0% { transform: rotate(0deg); }

            100% { transform:  rotate(360deg); }
        }
    </style>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand font-weight-bold" href="#">
                    <img src="../public/bar-chart-2 (1).svg" alt="" width="30"
                        height="24">

                    Live Poll </a>
                <button class="navbar-toggler" type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse"
                    id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page"
                                href="#"><h3>Home</h3></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/polls"><h3>Polls</h3></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" tabindex="-1"><h3>About
                                    Us</h3> </a>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" id="searchBar"
                            style="width: 620px;"
                            placeholder="Search Polls" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>

        <div class="container-fluid bg-dark text-white d-flex flex-column p-5">
            <div class="contianer p-5 d-flex flex-column align-items-center
                justify-content-center">
                <h1 class="display-3 p-3">Welcome to Live Polls</h1>
                <figure class="text-center">
                    <blockquote class="blockquote">
                        <p>“Somewhere inside of all of us is the power to change
                            the world.”</p>
                    </blockquote>
                    <figcaption class="blockquote-footer">
                        By <cite title="Source Title">Roald Dahl</cite>
                    </figcaption>
                </figure>

                <!-- <button type="button" class="btn bg-light text-Dark p-3 btn-lg">  Create Poll</button> -->
            </div>
            <div class="container">
                <div class="row justify-content-end mx-auto">
                    <div class="col">

                    </div>

                    <div class="col">
                        <a type="button" style="margin-left: 120px;"
                            class="btn btn-large
                            btn-outline-success
                            p-3" href="/genPoll">

                            Create Poll


                            <svg xmlns="http://www.w3.org/2000/svg" width="20"
                                height="20" fill="currentColor" class="bi
                                bi-arrow-right-circle" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14
                                    0A7 7 0 0
                                    0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16
                                    0zM4.5
                                    7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0
                                    0 0
                                    .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1
                                    0-.708.708L10.293 7.5H4.5z"></path>
                            </svg>
                        </a>
                    </div>
                    <div class="col">
                        <img src="/sign.webp" class="rounded
                            float-right"
                            height="400px" width="300px" alt="">
                    </div>
                </div>
            </div>



            <br><br>

            <footer class="text-light">
                <div class="container">
                    <p class="float-right">
                        <a href="#">Back to top</a>
                    </p>
                    <p> © LivePoll</p>
                    <p>New to LivePoll? <a href="../../">Visit the homepage</a>
                        or read our <a href="../../getting-started/">getting
                            started guide</a>.</p>
                </div>
            </footer>
        </div>




        <!-- Optional JavaScript; choose one of the two! -->

        <!-- Option 1: Bootstrap Bundle with Popper -->
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
            crossorigin="anonymous"></script>

        <!-- Option 2: Separate Popper and Bootstrap JS -->
        <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
    -->
    </body>
