<script src="./scripts/show.js"></script>

<div class="container2 has-background-primary">
    <div class="content">
        <h1 class="has-size-2 has-text-link">{{nameOf}}</h1>
        <form action="/submitOption" method="post">
            {{#each options}}
            <label for="ans" style="font-size:xx-large; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
                <input type="radio" name="ans" id="" class="forinput" value={{this}}>{{this}}
            </label>
            <br>
            {{/each}}
            <br>
            <input name="poll" type="text" value={{id}} style="display: none">
            <button type="submit" class="button is-info">Submit Poll</button>
        </form>


    </div>
</div>